@import "style.css";
header.about {
    background: #6384C3;
}
header.about .logo img {
    width: 220px;
}
header.about nav ul li {
    float: left;
    margin-right: 0px;
    width: auto;
    border: 0px solid #000;
    padding: 39px 34px;
    text-align: center;
}
header.about nav ul li a {
    color: #fff;
    line-height: 1;
    min-height: auto;
    font-size: 14px;
}
header.about nav ul li.a1 {
    background: url(../images/a1.png) no-repeat top center;
    background-size: 100% 100%;
}
header.about nav ul li.a2 {
    background: url(../images/a2.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 38px 21px;
    margin-right: 20px;
}
header.about nav ul li.a3 {
    background: url(../images/a3.png) no-repeat top center;
    background-size: 100% 100%;
    width: 116px;
    height: 14px;
    text-align: left;
    margin-right: 10px;
}
header.about nav ul li.a3 a {
    margin-left: -10px;
}
header.about nav ul li.a4 {
    background: url(../images/a4.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 32px 11px;
    margin-right: 20px;
}
header.about nav ul li.a5 {
    background: url(../images/a5.png) no-repeat top center;
    background-size: 100% 100%;
}
.vtop {
    margin-top: 40px;
    overflow: hidden;
}
.vtop iframe {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}
.vtop h2 {
    margin-bottom: 15px;
}
.vtop p {
    margin-bottom: 15px;
}
.vbottom {
    margin-top: 50px;
    margin-bottom: 30px;
}
.vbottom ul {
    overflow: hidden;
}
.vbottom ul li {
    width: 33.3333333%;
    float: left;
}
.vbottom ul li.left {
    text-align: left;
}
.vbottom ul li.more {
    text-align: center;
}
.vbottom ul li.more a {
    font-size: 20px;
    background: url(../images/more.png) no-repeat top center;
    background-size: 100% 100%;
    display: block;
    line-height: 160px;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}
.vbottom ul li.right {
    text-align: right;
}
.vbottom ul li img {
    width: 40%;
    margin-bottom: 20px;
}
.vbottom ul li .left1 {
    width: 300px;
    text-align: center;
    display: inline-block;
}
.vbottom ul li .right1 {
    width: 300px;
    text-align: center;
    display: inline-block;
}

.vlist {
    margin: 30px 0px 20px 0px;
}
.vlist li {
    overflow: hidden;
    padding: 30px 0px 30px 0px;
    position: relative;
}
.vlist li .vimg {
    width: 40%;
    float: left;
}
.vlist li .vimg img {
    width: 100%;
    height: 218px;
    display: block;
}
.vlist li h3 {
    width: 45%;
    float: left;
    font-size: 25px;
    text-align: center;
    margin-left: 3%;
    margin-top: 80px;
}
.vlist li .items.odd .vimg {
    float: right;
}
.vlist li .items.odd h3 {
    float: right;
    margin-right: 3%;
    margin-left: 0%;
}
.vlist li .items {
    width: 595px;
    float: left;
    border: 1px solid #000;
}
.vlist li .items.odd {
    width: 50%;
    float: right;
}
.vlist li .pos {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -45px;
    font-size: 12px;
    color: #fff;
    width: 100px;
    height: 90px;
    line-height: 90px;
    text-align: center;
}
.vlist li.v1 .pos {
    background: url(../images/a1.png) no-repeat top center;
    background-size: 100% 100%;
}
.vlist li.v2 .pos {
    background: url(../images/a2.png) no-repeat top center;
    background-size: 100% 100%;
}
.vlist li.v3 .pos {
    background: url(../images/a3.png) no-repeat top center;
    background-size: 100% 100%;
}
.vlist li.v4 .pos {
    background: url(../images/a4.png) no-repeat top center;
    background-size: 100% 100%;
}
footer {
    background: #3d4750;
    padding: 40px 0px;
    text-align: center;
}
footer .link {
    text-align: center;
    margin-bottom: 20px;
}
footer .link img {
    display: inline-block;
    width: 50px;
}
footer p {
    color: #fff;
    line-height: 30px;
}