@import "style.css";
header.primary {
    background: #80ccb7;
}

main.pics ul li.last {
    margin-right: 0px;
}
main.pics ul li img {
    width: 100%;
    height: 240px;
}
main.pics ul li h3{
  font-family: 'Secular One', sans-serif;
}
main.pics ul li h3.name {
    padding: 20px 0px;
    background: url(../images/heart.png) no-repeat left center;
    background-size: 45px 40px;
    padding-left: 70px;
}

